@model Document
@{
    ViewData["Title"] = "CompareDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CompareDocument</h1>

<div class="row">
    <a href="https://localhost:5001/compares/@Model.Name" class="btn btn-primary">Show File</a>
</div>