@using WebApp.ViewModels
@model IEnumerable<ItemViewModel>

<table class="table">
    <tr>
        <th>#</th>
        <th>Document</th>
        <th>Type</th>
        <th>Convert</th>
    </tr>
    @foreach(var document in Model)
    {
        <tr>
            <td><input type="checkbox" /></td>
            <td>@document.Name</td>
            <td>@document.IconCss</td>
            <td>
                <a href="#" class="btn btn-outline-success">Pdf</a>
                <a href="#" class="btn btn-outline-primary">Docx</a>
                <a href="#" class="btn btn-outline-warning">Html</a>
            </td>
        </tr>
    }
</table>