@using WebApp.ViewModels
@using Syncfusion.EJ2
@model IEnumerable<ItemViewModel>
<style>
    .folder {
        background-image: url("https://cdn0.iconfinder.com/data/icons/Free-Icons-Shimmer-01-Creative-Freedom/256/folder.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pdf{
        background-image: url("https://www.freemoresoft.com/freepdftojpgconverter/features1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .docx{
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/39/Microsoft_Word_2013_logo_with_background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .html{
        background-image: url("https://image.flaticon.com/icons/png/512/29/29515.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="control-section">
    <div class="control_wrapper">
        <ejs-treeview id="treedata" sortOrder="Ascending">
            <e-treeview-fields dataSource="Model" id="Id" parentId="ParentId" text="Name" hasChildren="Items" expanded="true" iconCss="FileType"></e-treeview-fields>
        </ejs-treeview>
    </div>
</div>